
node_modules
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.venv
.vscode
__pycache__
logs/
*.log
.vscode

*.js
!jest.config.js
*.d.ts

.cdk.staging
cdk.out
!postcss.config.js
!.eslint.config.js